{% extends 'support/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="stripe">
        <div class="container my-5">
            <div class="bg-light p-3 rounded my-4">
                <h1 class="display-4">Block email</h1>
                <p class="lead"><b>Email:</b> {{ ticket.customer.email }}</p>
                <p>
                    Tickets from this email will be ignored, and they will have to submit tickets using the web interface.
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="btn-group mt-3">
                        <a href="{% url 'agent-view-ticket' ticket.id %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" name="block" value="true" class="btn btn-danger">Block</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}