{% extends 'support/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="stripe">
        <div class="container my-5">
            <div class="bg-light p-3 rounded my-4">
                <h1 class="display-4">My tickets</h1>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Ref</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Authenticated</th>
                </tr>
                </thead>
                <tbody>
                {% if tickets %}
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.ref }}</td>
                            <td><a href="{% url 'view-ticket' ticket.id %}">{{ ticket.subject }}</a></td>
                            <td>
                                {% if ticket.state == "O" %}
                                    <span class="badge badge-pill bg-success">Open</span>
                                {% elif ticket.state == "C" %}
                                    <span class="badge badge-pill bg-danger">Closed</span>
                                {% else %}
                                    {{ ticket.get_state_display }}
                                {% endif %}
                            </td>
                            <td>
                                {% if ticket.customer_verified %}
                                    <span class="badge badge-pill bg-success">Yes</span>
                                {% else %}
                                    <span class="badge badge-pill bg-danger">No</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No tickets</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                {% if tickets.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tickets.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}</a>
                </li>
                {% if tickets.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ tickets.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tickets.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}